function tmpfile(fileid) {
  wx.cloud.getTempFileURL({
    fileList: fileids,
    success: function(res) {
      console.log(res.fileList)
      return res.fileList[0].tempFileURL
    },
    fail: console.error
  })
}

function fenzu(data, i, step) {
  if (data) {
    var init = i
    return data.slice(init, init + step)
  }
}
module.exports = {
  tmpfile: tmpfile,
  fen: fenzu,
}